# ========================
# Entornos de Pixi / Python
# ========================
.pixi/
__pycache__/
*.pyc

# ========================
# Resultados de Simulación
# ========================
*.log
*.csv
*.cir
*.sub
*.txt
*.jpg
*.png
*.Identifier
memristorsimulation_app/simulation_results/

# ========================
# Backups y temporales
# ========================
backup/
!backup/**
temp/

# ========================
# Entornos de desarrollo
# ========================
.idea/
.vscode/

# ========================
# Específicos del proyecto
# ========================
NGSpice
!assets/
!assets/**